/*firma eleonora*/
@font-face { font-family: 'Amalfi Coast'; src: url('https://celi0.github.io/avam/AmalfiCoast.ttf'); }

.bkelefr {
  width: 350px;
  height: 220px;
  margin: 10px auto;
  border: 6px solid var(--borde-gris);
  outline: 1px solid var(--fondo-oscuro);
  outline-offset: -6px;
}

.bkelefr i {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  color: rgba(199, 139, 67, 0.7);
  margin: 125px 190px;
  animation: intensidad 2s infinite;
}

@keyframes intensidad{
  12% { color: rgba(199, 139, 67, 0.7); }
  25% { color: rgba(199, 139, 67, 0.5); }
  37% { color: rgba(199, 139, 67, 0.3); }
  50% { color: rgba(199, 139, 67, 0.1); }
  62% { color: rgba(199, 139, 67, 0.3); }
  75% { color: rgba(199, 139, 67, 0.5); }
  87% { color: rgba(199, 139, 67, 0.7); }
  100% { color: rgba(199, 139, 67, 0.9); }
}

.bkelefr .nm {
  width: 190px;
  height: 20px;
  background: rgba(199, 139, 67, 0.7);
  margin: 160px 30px;
  position: absolute;
  font-family: 'Amalfi Coast';
  line-height: 30px;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}

.bkelefr .nm span {
  font-size: 40px;
  line-height: 100%;
  margin-top: -12px;
  display: block;
}

.bkelefr .nm:before {
  content: "";
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid rgba(199, 139, 67, 0.7);
  border-bottom: 10px solid rgba(199, 139, 67, 0.7);
  display: block;
  position: absolute;
  margin-left: -20px;
}

.bkelefr .nm:after {
  content: "";
  height: 0;
  width: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(199, 139, 67, 0.7);
  border-top: 10px solid rgba(199, 139, 67, 0.7);
  display: block;
  position: absolute;
  margin: -28px 190px;
}

.bkelefr .qt {
  color: var(--color-texto-claro);
  text-transform: uppercase;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 2.5px;
  margin: 182px 162px;
  position: absolute;
}
