/*firma eleonora*/

.fr-eleo {
  width: 300px;
  height: 230px;
  margin: auto;
  background-repeat: no-repeat;
  border: 10px solid var(--fondo-claro);
  outline: 1px solid var(--borde-gris);
  outline-offset: -10px;
  overflow: hidden;
  transition: 0.5s;
}

.fr-eleo:hover {
  outline-color: rgba(199,139,67,0.3);
  transition: 1s ease-in;
  transition-delay: 0.5s;
}

.fr-eleo .fr-hov {
  width: 300px;
  height: 230px;
  position: absolute;
  overflow: hidden;
}

.fr-eleo .fr-black {
  padding: 20px;
  width: 260px;
  height: 140px;
  background: rgba(199,139,66,0.7);
  margin-top: -250px;
  position: absolute;
  transition: 1s ease-in;
}

.fr-eleo:hover .fr-black {
  margin-top: 0px;
  transition: 1s ease-out;
  background: rgba(000,000,000,0.8);
  backdrop-filter: blur(2px);
}

.fr-eleo .fr-icon {
  padding: 20px; 
  font-size: 20px;
  color: var(--borde-gris);
  line-height: 25px;
  border-top: 1px solid var(--borde-gris);
  border-bottom: 1px solid var(--borde-gris);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50%;
  margin-left: 95px;
  margin-top: 20px;
  position: absolute;
  animation: zoom infinite 2.5s;
  transition: 1s ease-out;
}

.fr-eleo:hover .fr-icon {
  color: rgba(199,139,66,0.9);
  border-top-color: rgba(199,139,66,0.9);
  border-bottom-color: rgba(199,139,66,0.9);
  transition: 1s ease-in;
  transition-delay: 1s;
}

@keyframes zoom {
  50% {padding: 10px; margin-top: 30px; margin-left: 105px;}
}

.fr-eleo .fr-icon i {
  display: block;
  margin-top: 3px;
}

.fr-eleo .fr-bold {
  background: 
  color: #000;
  font-size: 20px;
  line-height: 100%;
  padding: 15px 40px;
  width: 220px;
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-style: italic;
  margin-left: -300px;
  margin-top: 180px;
  background: rgba(000,000,000,0.8);
  transition: 1s ease-in;
}

.fr-eleo:hover .fr-bold {
  margin-left: 0px;
  transition: 1s ease-out;
  background: rgba(199,139,66,0.7);
  backdrop-filter: blur(2px);
}

.fr-eleo .fr-bold:first-letter {
  font-style: normal;
  letter-spacing: -2px;
}

.fr-eleo .fr-txt {
  position: absolute;
  width: 260px;
  margin-top: 115px;
  text-align: center;
  font-family: 'Calibri';
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 9px;
}
